/* Footer */

footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #212121;
    color: #FFFFFF;
    padding: 1.5rem;
    box-sizing: border-box;
    margin-top: 60px;
}

.footer-topic{
    font-size: 1.2em;
    color: #FFFFFF
}

.footer-content{
    width: 100%;
}

.footer-column{
    margin-right: 64px;
}

.footer-contact-row{
    justify-content: baseline;
    align-items: baseline;
}

.footer-row{
    margin-top: 8px;
    margin-right: 24px;
}

.footer-logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.copyright{
    width: 100%;
    margin-top: 32px;
}

.copyright-text{
    margin: 0px;
}

.flex-custom{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.img-footer{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.column{
    flex-direction: column;
    justify-content: space-around;
}

.row-custom{
    flex-direction: row;
}

.footer-item{
    justify-content: baseline;
}

.social-media{
    margin-right: 1.5rem;
}

.link-reset{
    color: #FFFFFF;
    text-decoration: none;
}

.link-reset:hover{
    text-decoration: underline;
}

.link-nav{
    color: #FFFFFF;
    text-decoration: none;
}


/* Header */

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    background-color: #212121;
    justify-content: center;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
    z-index: 9999;
}

.menu-item{
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0rem 1.5rem;
    letter-spacing: 1px;
    transition: 80ms;
}

.menu-item:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.menu-options{
    width: 100%;
    justify-content: center;
    align-items: center;
}

header{
    width: 100vw;
    box-sizing: border-box;
}


/* Scrollbar */

/* ::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    background-color: #212121;
}

::-webkit-scrollbar-thumb{
    background-color: #7e7e7e;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #6e6e6e;
    border-radius: 8px;
} */


/* Gerais */

.content{
    width: 100%;
}

.center{
    justify-content: center;
    align-items: center;
}

.default-size{
    width: 100%;
}

.title{
    font-size: 3em;
    margin: 0px;
    margin-top: 60px;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    position: fixed;
    top: 5px;
    left: 5px;
}

.principal{
    margin-top: 60px;
}

.text{
    margin: 0px;
}

.text-black{
    color: #000000;
}

.default-margin{
    margin: 60px 0px;
}

table{
    width: 100%;
    border-spacing: 0px;
    border-collapse:unset;
    table-layout: fixed
}

tr{
    height: 40px;
    text-align: center;
}

th{
    color: #FFFFFF;
    background-color: #212121; 
    font-size: 1.2em;
}

td, th{
    padding: 4px 4px 4px 4px;
    /* border: 1px solid #C6C6C6; */
}

.shadow{
    box-shadow: 0 4px 10px rgb(0,0,0,15%);
}

.default-img{
    width: 100%;
    height: 100%;
}

.go-top{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.img-go-top{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.text-center{
    text-align: center;
}

.padding-x-lg{
    padding-left: 16px;
    padding-right: 16px;
}

.padding-x-md{
    padding-left: 8px;
    padding-right: 8px;
}