#div-principal{
    width: 100%;
    height: 800px;
    width: 100%;
    background-image: url("../images/fundo-bolo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#div-logo{
    border-radius: 50%;
    background-color: #FFFFFF;
    width: 200px;
    height: 200px;
}

#nome-cliente{
    margin-top: 20px;
    font-size: 1.8em;
}

.section{
    width: 1000px;
    margin-top: 60px;
    padding-bottom: 60px;
}

.section-content{
    width: 100%;
}

#segmentos{
    background-color: #F4BFB9;
}

.box-segmento{
    width: 200px;
    height: 240px;
    background-color: #FFFFFF;
    margin: 16px 16px 0px 16px;
    border-radius: 6px 6px 6px 6px;
    transition: 200ms;
}
.box-segmento:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.segmento-text{
    width: 100%;
    height: 20%;
    background-color: #212121;
    font-weight: bold;
    font-size: 1.3em;
    color: #FFFFFF;
    border-radius: 0px 0px 6px 6px;
}

.segmento-img{
    height: 80%;
    width: 100%;
    border-radius: 6px 6px 0px 0px;
    background-color: #FFFFFF;
}

#segmento-content{
    margin: 60px 0px;
    width: 800px;
}

#oque-fazemos-content{
    width: 1000px;
}

.logo-principal{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.imagem-segmento{
    width: 100%;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
}