<!DOCTYPE html>
<html lang="br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lindy doces</title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/global.css">
        <link rel="stylesheet" href="../css/catalog.css">
    </head>
    <body>
        <header>
            <div class="container row menu-options navbar shadow">
                <div class="container row menu-options">
                    <div class="menu-item">
                        <a class="link-reset" href="index.html">Home</a>
                    </div>
                    <div class="menu-item">
                        <a class="link-reset" href="catalog.html">Catálogo</a>
                    </div>
                    <div class="menu-item">
                        <a class="link-reset" href="contact.html">Contato</a>
                    </div>
                </div>
                <div class="logo">
                    <img src="" alt="">
                </div>
            </div>
            <img class="logo" src="../images/logo.png" alt="">
        </header>
        <div class="container row content">
            <div class="container row" id="div-principal">
                <div class="container column" id="div-principal-content">
                    <div class="container row">
                        <h1 class="title">O que você procura?</h1>
                    </div>
                    <div class="container row" id="div-buttons">
                        <a href="#salgados">
                            <button class="button shadow">Salgados</button>
                        </a>
                        <a href="#ovos-de-colher">
                            <button class="button shadow">Ovos de colher</button>
                        </a>
                        <button class="button shadow">Docinhos</button>
                        <button class="button shadow">Bolo de festa</button>
                        <button class="button shadow">Bolo gourmet</button>
                        <button class="button shadow">Pães</button>
                        <button class="button shadow">Tortas</button>
                        <button class="button shadow">Doces gourmet</button>
                        <button class="button shadow">Bolo caseiro</button>
                    </div>
                </div>
            </div>
            <div class="container row" id="div-catalog">
                <div class="container column" id="div-catalog-content">
                    <div class="container column">
                        <div class="container column center default-size">
                            <h1 class="title">Catálogo</h1>
                        </div>
                        <div class="container column product-container">
                            <div class="container row product-topic" id="salgados">
                                <label>Salgados</label>
                            </div>
                            <div class="container row center products">
                                <div class="container column shadow product-box shadow">
                                    <div class="container column product-picture">

                                    </div>
                                    <div class="container column product-description">
                                        <div class="container row">
                                            <label class="product-name">Nome do produto</label>
                                        </div>
                                        <div class="container row buy-row">
                                            <label class="product-value">R$ 99,99</label>
                                            <a href="https://api.whatsapp.com/send?phone=5511913231756&text=Olá,%20tudo%20bem?%20Vi%20oproduto%20X%20e%20gostaria%20de%20compra-lo">
                                                <button class="button-buy">Comprar</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="container column product-box shadow">
                                    <div class="container column product-picture">

                                    </div>
                                    <div class="container column product-description">
                                        <div class="container row">
                                            <label class="product-name">Nome do produto</label>
                                        </div>
                                        <div class="container row buy-row">
                                            <label class="product-value">R$ 99,99</label>
                                            <a href="https://api.whatsapp.com/send?phone=5511913231756&text=Olá,%20tudo%20bem?%20Vi%20oproduto%20X%20e%20gostaria%20de%20compra-lo">
                                                <button class="button-buy">Comprar</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="container column product-box shadow">
                                    <div class="container column product-picture">

                                    </div>
                                    <div class="container column product-description">
                                        <div class="container row">
                                            <label class="product-name">Nome do produto</label>
                                        </div>
                                        <div class="container row buy-row">
                                            <label class="product-value">R$ 99,99</label>
                                            <a href="https://api.whatsapp.com/send?phone=5511913231756&text=Olá,%20tudo%20bem?%20Vi%20oproduto%20X%20e%20gostaria%20de%20compra-lo">
                                                <button class="button-buy">Comprar</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="container column product-box shadow">
                                    <div class="container column product-picture">

                                    </div>
                                    <div class="container column product-description">
                                        <div class="container row">
                                            <label class="product-name">Nome do produto</label>
                                        </div>
                                        <div class="container row buy-row">
                                            <label class="product-value">R$ 99,99</label>
                                            <a href="https://api.whatsapp.com/send?phone=5511913231756&text=Olá,%20tudo%20bem?%20Vi%20oproduto%20X%20e%20gostaria%20de%20compra-lo">
                                                <button class="button-buy">Comprar</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container row product-topic" id="ovos-de-colher">
                                <label>Ovos de colher</label>
                            </div>
                            <div class="container row center products">
                                <div class="container column product-box shadow">
                                    <img class="product-picture" src="../images/products/product-7.jfif">
                                    <div class="container column product-description">
                                        <div class="container row">
                                            <label class="product-name">Prestígio</label>
                                        </div>
                                        <div class="container row buy-row">
                                            <label class="product-value">R$ 65,00</label>
                                            <a href="https://api.whatsapp.com/send?phone=5511913231756&text=Olá,%20tudo%20bem?%20Vi%20oproduto%20X%20e%20gostaria%20de%20compra-lo">
                                                <button class="button-buy">Comprar</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="container column product-box shadow">
                                    <img class="product-picture" src="../images/products/product-3.jfif">
                                    <div class="container column product-description">
                                        <div class="container row">
                                            <label class="product-name">Pão de mel</label>
                                        </div>
                                        <div class="container row buy-row">
                                            <label class="product-value">R$ 65,00</label>
                                            <a href="https://api.whatsapp.com/send?phone=5511913231756&text=Olá,%20tudo%20bem?%20Vi%20oproduto%20X%20e%20gostaria%20de%20compra-lo">
                                                <button class="button-buy">Comprar</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer container column">
            <div class="container row footer-content">
                <div class="footer-column">
                    <img class="footer-logo" src="../images/logo.png" alt="">
                </div>
                <div class="footer-column">
                    <h2 class="footer-topic">CONTATO</h2>
                    <div class="footer-row">
                        <a class="link-reset container row" href="https://api.whatsapp.com/send?phone=5511913231756">
                            <img class="img-footer" href="https://api.whatsapp.com/send?phone=5511913231756" src="../images/whatsApp-logo.png" alt="">
                            <span>(11) 91323-1756</span>
                        </a>    
                    </div>
                    <div class="footer-row">
                        <a class="link-reset container row" href="https://api.whatsapp.com/send?phone=5511913231756">
                            <img class="img-footer" href="mailto:example@example.com.br" src="../images/envelope.png" alt="">
                            <span>example@example.com.br</span>
                        </a>    
                    </div>
                </div>
                <div class="footer-column">
                    <h2 class="footer-topic">SIGA-NOS</h2>
                    <div class="container row">
                        <div class="container row footer-item">
                            <a class="link-reset container row" href="https://www.facebook.com/LINDY-DOCES-895272743858461">
                                <img class="img-footer" src="../images/facebook-logo.png" alt="facebook-logo">
                            </a>
                        </div>
                        <div class="container row footer-item">
                            <a class="link-reset container row" href="https://instagram.com/lindy_doces?igshid=YmMyMTA2M2Y=">
                                <img class="img-footer" src="../images/instagram-logo.png" alt="instagram-logo">
                            </a>
                        </div>
                        <div class="container row footer-item">
                            <a class="link-reset container row" href="https://www.twitter.com/LINDY-DOCES">
                                <img class="img-footer" src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/twitter_circle-512.png" alt="twitter-logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container center copyright">
                <p class="copyright-text">© 2022 Felipe SIlva</p>
            </div>
        </footer>
        <div class="container center go-top shadow">
            <a href="#div-principal">
                <img class="img-go-top" src="../images/seta-dupla-para-cima.png" alt="Seta para cima">
            </a>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../js/script.js"></script>
    </body>
</html>