<!DOCTYPE html>
<html lang="br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lindy doces</title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/global.css">
        <link rel="stylesheet" href="../css/contact.css">
        <meta>
    </head>
    <body>
        <header>
            <div class="container row menu-options navbar shadow">
                <div class="container row menu-options">
                    <div class="menu-item">
                        <a class="link-reset" href="index.html">Home</a>
                    </div>
                    <div class="menu-item">
                        <a class="link-reset" href="catalog.html">Catálogo</a>
                    </div>
                    <div class="menu-item">
                        <a class="link-reset" href="contact.html">Contato</a>
                    </div>
                </div>
            </div>
            <img class="logo" src="../images/logo.png" alt="">
        </header>
        <div class="content">
            <div class="container center principal column" id="div-principal">
                <h2 class="title">Contatos</h2>
                <div class="container row center" id="contact-topic">
                    <div class="container center column section-card">
                        <div class="section-item">
                            <div class="contact-icon shadow">
                                <img class="default-img" src="../images/whatsApp-logo.png" alt="">
                            </div>
                        </div>
                        <div class="section-item">
                            <p class="text section-title">Whatsapp</p>
                        </div>
                        <div class="section-item">
                            <a class="link-reset link-contact" href="https://api.whatsapp.com/send?phone=5511913231756">
                                <span>(11) 91323-1756</span>
                            </a>  
                        </div>
                    </div>
                    <div class="container center column section-card">
                        <div class="section-item">
                            <div class="contact-icon shadow">
                                <img class="default-img" src="../images/envelope.png" alt="">
                            </div>
                        </div>
                        <div class="section-item">
                            <p class="text section-title">E-mail</p>
                        </div>
                        <div class="section-item">
                            <a class="link-reset link-contact" href="mailto:example@example.com.br">
                                <span>example@example.com.br</span>
                            </a>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="container center column" id="redes-sociais">
                <div id="socialmedia-topic">
                    <div class="container center default-size">
                        <h2 class="title default-margin">Redes sociais</h2>
                    </div>
                    <div class="container row redes-sociais-item">
                        <div class="redes-sociais-imgbox shadow">
                            <img class="redes-sociais-img" src="../images/facebook-logo.png" alt="Logo do Facebook">
                        </div>
                        <div class="container column redes-sociais-links">
                            <div>
                                <span class="texto-destaque">Facebook</span>
                            </div>
                            <div class="link-redesocial">
                                <a class="link-reset text-black" href="https://www.facebook.com/LINDY-DOCES-895272743858461">LINDY DOCES</a>
                            </div>
                        </div>
                    </div>
                    <div class="container row redes-sociais-item">
                        <div class="redes-sociais-imgbox shadow">
                            <img class="redes-sociais-img" src="../images/instagram-logo.png" alt="Logo do Facebook">
                        </div>
                        <div class="container column redes-sociais-links">
                            <div>
                                <span class="texto-destaque">Instagram</span>
                            </div>
                            <div class="link-redesocial">
                                <a class="link-reset text-black" href="https://instagram.com/lindy_doces?igshid=YmMyMTA2M2Y=">@lindy_doces</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container column center default-size">
                <div>
                    <h2 class="title default-margin"> Horários de funcionamento</h2>
                </div>
                <p class="text default-text">
                    Trabalhamos das 09h às 18h nos dias da semana mencionados abaixo
                </p>
                <div class="shadow" id="border-table">
                    <table class="table-dow">
                        <tbody>
                            <tr>
                                <th>Dom</th>
                                <th>Seg</th>
                                <th>Ter</th>
                                <th>Qua</th>
                                <th>Qui</th>
                                <th>Sex</th>
                                <th>Sáb</th>
                             </tr>
                             <tr>
                                <td class="table-dow-row"><img class="icon-dow" src="../images/icon-block.png" alt=""></td>
                                <td class="table-dow-row"><img class="icon-dow" src="../images/icon-confere.png" alt=""></td>
                                <td class="table-dow-row"><img class="icon-dow" src="../images/icon-confere.png" alt=""></td>
                                <td class="table-dow-row"><img class="icon-dow" src="../images/icon-confere.png" alt=""></td>
                                <td class="table-dow-row"><img class="icon-dow" src="../images/icon-confere.png" alt=""></td>
                                <td class="table-dow-row"><img class="icon-dow" src="../images/icon-confere.png" alt=""></td>
                                <td class="table-dow-row"><img class="icon-dow" src="../images/icon-block.png" alt=""></td>
                             </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="footer container column">
            <div class="container row footer-content">
                <div class="footer-column">
                    <img class="footer-logo" src="../images/logo.png" alt="">
                </div>
                <div class="footer-column">
                    <h2 class="footer-topic">CONTATO</h2>
                    <div class="footer-row">
                        <a class="link-reset container row" href="https://api.whatsapp.com/send?phone=5511913231756">
                            <img class="img-footer" href="https://api.whatsapp.com/send?phone=5511913231756" src="../images/whatsApp-logo.png" alt="">
                            <span>(11) 91323-1756</span>
                        </a>    
                    </div>
                    <div class="footer-row">
                        <a class="link-reset container row" href="https://api.whatsapp.com/send?phone=5511913231756">
                            <img class="img-footer" href="mailto:example@example.com.br" src="../images/envelope.png" alt="">
                            <span>example@example.com.br</span>
                        </a>    
                    </div>
                </div>
                <div class="footer-column">
                    <h2 class="footer-topic">SIGA-NOS</h2>
                    <div class="container row">
                        <div class="container row footer-item">
                            <a class="link-reset container row" href="https://www.facebook.com/LINDY-DOCES-895272743858461">
                                <img class="img-footer" src="../images/facebook-logo.png" alt="facebook-logo">
                            </a>
                        </div>
                        <div class="container row footer-item">
                            <a class="link-reset container row" href="https://instagram.com/lindy_doces?igshid=YmMyMTA2M2Y=">
                                <img class="img-footer" src="../images/instagram-logo.png" alt="instagram-logo">
                            </a>
                        </div>
                        <div class="container row footer-item">
                            <a class="link-reset container row" href="https://www.twitter.com/LINDY-DOCES">
                                <img class="img-footer" src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/twitter_circle-512.png" alt="twitter-logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container center copyright">
                <p class="copyright-text">© 2022 Felipe SIlva</p>
            </div>
        </footer>
        <div class="container center go-top shadow">
            <a href="#div-principal">
                <img class="img-go-top" src="../images/seta-dupla-para-cima.png" alt="Seta para cima">
            </a>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../js/script.js"></script>
    </body>
</html>